:root {
  --button-height: 3rem;
}

html, body, .root, .app {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  & h1 {
    font-family: monospace;
  }

  & .logo {
    order: -1;
    height: 30%;
    margin-top: 5%;

    & img {
      max-height: 100%;
      vertical-align: middle;
    }
  }

  & ul {
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;
    text-align: center;

    & li {
      margin: 0.75rem 0 0;
    }
  }

  & .platform::before {
    font-family: monospace;
  }

  & .android::before {
    content: "Android"
  }

  & .ios::before {
    content: "iOS"
  }

  & a {
    display: inline-block;
    vertical-align: middle;

    & img {
      height: var(--button-height);
      vertical-align: middle;
    }
  }

  & a[href*=".apk"] {
    box-sizing: border-box;
    height: var(--button-height);
    padding: 0 0.5rem 0 2.4rem;
    line-height: var(--button-height);
    text-decoration: none;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    background: #000 url(./badge.android.svg) no-repeat;
    background-size: 1.6rem;
    background-position: 0.5rem center;
    color: #fff;
  }
}
