:root {
  --button-height: 3rem;
}

html, body, .root, .app {
  height: 100%;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;

  & .logo {
    order: -1;
    height: 30%;
    position: relative;

    & img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      max-height: 100%;
      vertical-align: middle;
    }
  }

  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    & li {
      margin: 0.75rem 0 0;
    }
  }

  & .platform + .platform {
    margin-top: 1.5rem;
  }

  & .platform::before {
    font-family: monospace;
    color: #999;
  }

  & .android::before {
    content: "Android"
  }

  & .ios::before {
    content: "iOS"
  }

  & a {
    display: inline-block;
    vertical-align: middle;

    & img {
      height: var(--button-height);
      vertical-align: middle;
    }
  }

  & a[href*=".apk"] {
    box-sizing: border-box;
    height: var(--button-height);
    padding: 0 0.75rem 0 2.6rem;
    line-height: var(--button-height);
    text-decoration: none;
    border: solid 1px #ccc;
    border-radius: 0.5rem;
    background: #000 url(./badge.android.svg) no-repeat;
    background-size: 1.6rem;
    background-position: 0.6rem center;
    font-size: 1.2rem;
    color: #f9f9f9;

    & code {
      font-weight: bold;
    }
  }
}
